.myAccount {

  a {

    border-bottom: 3px solid $color-2;

    &:hover {
      cursor: pointer;
      border-bottom: 3px solid $color-1;


      span {
        color: $color-1;
      }

      p {
        font-weight: 500;
      }
    }

    span {
      color: $color-3;
    }
  }
}

.accountGestion {

  .orange-title {

    color: $color-1;
  }

  .account-panel {

    background-color: $color-2;
  }
}